<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Teplodar"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity2"
            android:exported="false"
            android:label="@string/title_activity_main2"
            android:theme="@style/Theme.Teplodar.NoActionBar" />
        <activity
            android:name=".MainActivityTraTaTa"
            android:exported="false" />
        <activity
            android:name=".FragmentActivity"
            android:exported="false" />
        <activity
            android:name=".FragmentRadioActivity"
            android:exported="false" />
        <activity
            android:name=".Radiatori3"
            android:exported="false" />
        <activity
            android:name=".Radiatory2"
            android:exported="false" />
        <activity
            android:name=".ViborOpuskaKan"
            android:exported="false" />
        <activity
            android:name=".Radiatori"
            android:exported="false" />
        <activity
            android:name=".OtpuskKanal"
            android:exported="false" />
        <activity
            android:name=".viborObject"
            android:exported="false" />
        <activity
            android:name=".TochnoResoult"
            android:exported="false" />
        <activity
            android:name=".Resoult"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>